* {
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

p {
	margin: 0 0 15px;
	word-wrap: break-word;
}

.example {
	border: 1px solid #ccc;
	padding: 15px 15px 0;
	background-color: #000;
	color: #fff;
	font-family: monospace;
}

form.test {
	border: 1px solid #ccc;
	padding: 15px 15px 0;
	background-color: #efefef;
}

.example > p > b {
	color: #8e8;
}

.full-width {
	width: 100%;
}
