{{define "base"}}
	<!DOCTYPE html>
	<html lang="ru">
	<head>
		{{template "head" .}}
		<title>Irish API</title>
		<link rel="stylesheet" href="/public/index.css">
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                let changeRangeExtractionInput = document.getElementById('change-range-extraction-input');
                changeRangeExtractionInput.value = 50;
                changeRangeExtraction(changeRangeExtractionInput);
            });
            function changeRangeExtraction(input) {
                let xhr = new XMLHttpRequest();
                xhr.open("GET", "https://irish-api.ga/get-image?client_id=131&range_extraction=" + input.value, true);
                xhr.responseType = 'arraybuffer';
                xhr.onreadystatechange = function(){
                    if(xhr.readyState === this.HEADERS_RECEIVED) {
                        document.getElementById('number-txt').value = xhr.getResponseHeader('x-number');
                    }
                    if(xhr.readyState !== 4) return;
                    let blob = new Blob([xhr.response], {type: "image/jpg"});
                    document.getElementById('number-img').src = URL.createObjectURL(blob);
                };
                xhr.send();
            }
        </script>
	</head>
	<body>
	{{template "header" .}}
    <h1>Пример использования метода <u>get-image</u></h1>
	<div class="example">
		<p>GET /get-image?client_id=987654&range_extraction=12 HTTP/2.0</p>
		<p><b>Host</b>: irish-api.ga</p>
		<p><b>Accept</b>: text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8</p>
		<p><b>Accept-Encoding</b>: gzip, deflate, br</p>
		<p><b>Accept-Language</b>: ru-RU,ru;q=0.8,en-US;q=0.5,en;q=0.3</p>
		<p><b>Connection</b>: keep-alive</p>
		<p><b>Upgrade-Insecure-Requests</b>: 1</p>
		<p><b>User-Agent</b>: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:67.0) Gecko/20100101 Firefox/67.0</p>
	</div>
    <h1>Параметры запроса</h1>
    <div class="example">
        <p><b>client_id</b> - число</p>
        <p><b>range_extraction</b> = range_s < (100 - range_e) ? range_s : range_e</p>
        <p>например если выбрали диапазон от 12 до 77</p>
        <p>range_s = 12</p>
        <p>range_e = 77</p>
        <p>нужно передать 12</p>
    </div>
    <h3>тестовая форма:</h3>
	<form class="test" method="GET">
        <p><label>range extraction:
            <input type="number" onchange="changeRangeExtraction(this)" id="change-range-extraction-input" min="0" max="100">
        </label></p>
        <p><label>число в виде текста:
            <input type="number" id="number-txt">
        </label></p>
        <p><label>число в виде картинки:
            <img id="number-img" alt="loading image" src="">
        </label></p>
	</form>
	<br>
	</body>
	</html>
{{end}}
